* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

.btn-primary {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

.head {
    display: flex;
    max-width: 1600px 808px;
    height: 808px;
    background: url('../images/banner/banner3.png');
    background-size: cover;
}

.header-nav {
    margin-left: 900px;
    /* margin-top: 120px; */
    margin-top: 60px;
    margin-right: 40px;
    text-align: right;
}

.header-title {
    font-weight: 900;
    font-size: 55px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

/* start-main-section */
.main-section {
    display: flex;
    /* margin-left: 220px; */
    margin-left: 70px;
    align-items: center;
    width: 1072px;
    height: 723.3px;
    margin-bottom: 40px;
}

.main-section2 {
    padding-left: 75px;
}

ul {
    list-style: none;
}

.main-title {
    font-weight: 900;
    font-size: 50px;
    color: #151414;
    margin-bottom: 24px;
    padding-left: 123px;
    padding-top: 160px;
}

.main-description {
    font-weight: 400;
    font-size: 20px;
    color: #444343;
    padding-left: 118px;
    margin-bottom: 20px;
}

/* another-main-section */
.plan {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: #151414;
    margin-bottom: 50px;
}

.detail {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 120px;
}

.details {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #151414;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

/* last-main-section  */
.last-main {
    /* margin: 0px 230px; */
    margin: 0px 130px;
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    background-image: url('../images/watch.png');
    justify-content: center;
    margin-bottom: 120px;
}

.last-main-section {
    width: 459px;
    height: 182px;
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 64px;
    padding-right: 615px;
}

.last-main-section-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    ;
}

/* start-footer-section  */
.feet {
    display: flex;
    width: 1600px;
    height: 400px;
    background: #151414;
}

.future {
    margin-left: 230px;
    padding-top: 50px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

.future-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.icon {
    display: flex;
    gap: 30px;
    padding-left: 220px;
}

.flex-2 {
    width: 325px;
    height: 204px;
    padding-top: 45px;
    padding-left: 350px;
    padding-right: 80px;
}

.h2 {
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.email-input {
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 300;
    padding-right: 30px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.btn {
    width: 170.11px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
/* end-footer-section  */